/*
 Estilo css predefinido registro
*/
.rUsu:focus, .rEmail:focus, .rPop:focus, .rCP:focus, .rPais:focus, #rPWD:focus, #rPWD2:focus
{
	border: 2px solid #385D8A;
}

.captchaImg
{
	height: 45px;
	width: 200px;
}

.icon
{
	height: 15px;
	width: 25px;
}


.formfotoreguistro
{
	padding-left: 20px;
}

.imagenfoto{
	padding-left: 20px;
}

.subirfoto {
	padding-left: 20px;
}

.fotodeUsuario {
	padding-left: 20px;
}

.dlnkdes{
	padding-left: 20px;
}
.dimagen {
	padding-left: 20px;
}

.formfotoreguistro {
	padding-left: 20px;
}

/*fotmateo datos en general*/
.datos {
	padding-left: 50px;
}

.lnkacepto{
	float: right;
		padding-right: 60%;
}

.pageRegistro
{
	height: 800px;
}
