/*
 Estilo css predefinido crear album
*/

.crtitulo:focus, .crPais:focus
{
	border: 2px solid #385D8A;
}

/*fotmateo datos en general*/
.datos {
	padding-left: 50px;
}

.pageCrearalbum
{
	height: 800px;
}
